@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

.left,
.center,
.right,
.menu,
.bars-container div,
.frames,
.bar,
.cat,
.food,
.clean,
.game,
.warning,
p,
h1,
button {
  user-select: none;
}

.food,
.game,
.clean,
.cat,
button {
  cursor: pointer;
}

body {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  max-height: 100vh;
  max-width: 100%;
  aspect-ratio: 1.7;
  position: absolute;
  z-index: 2;
}

.fit-size {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.background {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background: url("img/Fondo-CatU-Game.webp") no-repeat;
  background-size: contain;
}

.up {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 20%;
}

.menu img {
  width: 45%;
  margin: 2rem;
  cursor: pointer;
}

.status-container {
  width: 30%;
}

.bars-container {
  width: 76%;
  height: 100%;
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  gap: 8%;
  flex-direction: column;
}

.bar {
  width: 100%;
  height: 60%;
  margin-top: 3%;
  margin-bottom: 9%;
  margin-left: 6%;
  transition: width 1.25s ease-in-out;
}

#health {
  background-color: #dc143c;
}

#hunger {
  background-color: #fc0;
}

#fun {
  background-color: #4fe335;
}

#clean {
  background-color: #7fffd4;
}

.frames {
  width: 25%;
  position: absolute;
  z-index: 1;
}

.down {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.cat {
  width: 65%;
  margin-bottom: 21%;
}

.left {
  display: flex;
  justify-content: space-between;
  width: 31.3%;
}

.center {
  display: flex;
  justify-content: center;
  width: 35%;
}

.food {
  background-attachment: fixed;
  width: 45%;
  height: 45%;
  margin-bottom: 16%;
  margin-left: 5%;
  transition: 0.2s linear;
}

.game {
  background-attachment: fixed;
  width: 18%;
  height: 16%;
  margin-left: 10%;
  margin-top: 12%;
  transition: 0.2s linear;
}

.right {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.clean {
  background-attachment: fixed;
  width: 50%;
  height: 70%;
  margin-bottom: 21.7%;
  transition: 0.2s linear;
  margin-left: 20%;
}

/* img minijuegos */

.right-top {
  display: flex;
  gap: 12%;
  margin-bottom: 10%;
  margin-right: 10%;
}

.minijuegos-img {
  width: 45%;
  height: 45%;
  cursor: pointer;
}

#pong {
  image-rendering: pixelated;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -999;
  cursor: cell;
}

.container-close-game {
  width: 100%;
  display: flex;
  justify-content: right;
}

#close-game-pong {
  font-size: 4rem;
  cursor: pointer;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  z-index: -999;
  position: absolute;
  margin-top: 1%;
  margin-right: 1%;
  text-shadow: 2px 2px 2px #000;
}

.gameplay-pong {
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 10%;
  font-family: "Press Start 2P", fantasy;
  font-size: 250%;
  z-index: -999;
  text-shadow: 4px 3px 2px #000;
}

.gameplay-pong p {
  margin: 5%;
}

/* minijuego cat-jump */

#close-game-jump {
  font-size: 4rem;
  cursor: pointer;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  z-index: -999;
  position: absolute;
  margin-top: 1%;
  margin-right: 1%;
  text-shadow: 2px 2px 2px #000;
}

#cat-jump {
  display: none;
  position: absolute;
  z-index: -999;
  height: 100%;
  width: 100%;
  cursor: cell;
}

.container-sky {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: -999;
  background: url("img/img-minijuegos/cat-jump/bg-cat-jump.webp") no-repeat;
  background-size: 100%;
}

.character {
  width: 12.5%;
  height: 31%;
  position: absolute;
  bottom: 11%;
  left: 15%;
  background: url("img/img-minijuegos/cat-jump/animation-catu-jump.webp")
    no-repeat;
  background-size: cover;
  z-index: -999;
}

.cat-running {
  animation: walk 0.5s steps(4) infinite;
}

.obstacle {
  width: 13.5%;
  height: 27.2%;
  position: absolute;
  bottom: 11%;
  left: 87.5%;
  background: url("img/img-minijuegos/cat-jump/Mummy-Cat-Jump.webp") no-repeat;
  background-size: 100%;
  z-index: -999;
}

.obstacle-moving {
  animation: animated-obstacle 1.5s linear infinite;
}

@keyframes animated-obstacle {
  from {
    left: 88%;
  }

  to {
    left: -2%;
  }
}

.cat-jump {
  animation-name: cat-jump;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes cat-jump {
  0% {
    bottom: 11%;
  }

  30% {
    bottom: 40%;
  }

  50% {
    bottom: 65%;
  }

  80% {
    bottom: 40%;
  }

  100% {
    bottom: 11%;
  }
}

@keyframes walk {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 132.4%;
  }
}

.floor {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("img/img-minijuegos/cat-jump/floor-cat-jump.webp");
  z-index: -999;
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%;
}

@keyframes animated-floor {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 0;
  }
}

.background-egypt {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: url("img/img-minijuegos/cat-jump/bg-pyramid-cat-jump.webp");
  z-index: -999;
  background-position: 0 0;
  background-size: auto 100%;
}

@keyframes animated-background {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -11016px 0;
  }
}

.text-container {
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.game-over {
  display: none;
  position: absolute;
  margin-top: 20%;
  font-family: "Press Start 2P", fantasy;
  font-size: 200%;
}

.gameplay-jump {
  margin-top: 5%;
  font-family: "Press Start 2P", fantasy;
  font-size: 130%;
}

/* img minijuegos */

.window-notice {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(41 33 40 / 74.8%);
  inset: 0;
  position: fixed;
  z-index: 999;
}

.window-notice .content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/img/Fondo-Windows-Content.webp") no-repeat;
  background-position: center;
  background-size: 90%;
  width: 60%;
  height: 100%;
  max-width: 50%;
  aspect-ratio: 1.7;
}

.window-notice .content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 50%;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-family: "Montserrat alternates", sans-serif;
  background-attachment: fixed;
  margin-bottom: 4%;
}

.window-notice .content-buttons {
  display: flex;
  justify-content: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-family: "Montserrat alternates", sans-serif;
}

.content-text p {
  font-size: 140%;
  margin: 2%;
}

.text-center {
  display: flex;
  justify-content: center;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  font-family: "montserrat alternates", sans-serif;
}

button {
  border: none;
  outline: none;
  color: #fff;
  background-color: transparent;
  font-family: "montserrat alternates", sans-serif;
  text-shadow: 2px 2px 1px #000;
  font-size: 1.5vw;
  transition: 0.5s ease;
  margin-top: 3%;
}

button:hover {
  transform: scale(1.25);
  text-shadow: 1px 3px 3px #000;
}

.resize {
  transform: scale(1.15);
  transition: 0.2s linear;
}

@media screen and (width <= 450px) {
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #ffcd00;
    overflow-x: hidden;
  }

  .container {
    display: none;
  }

  .alert {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    font-family: "Montserrat alternates", sans-serif;
    background-color: #ffcd00;
    color: #000;
    position: absolute;
    z-index: 1000;
    padding: 1rem;
  }

  .warning {
    width: 80%;
  }

  .warning h1 {
    text-align: center;
    font-size: 1.4rem;
  }

  .warning p {
    width: 100%;
    font-size: 0.8rem;
    font-family: "IBM Plex Mono", sans-serif;
  }

  .warning p:last-of-type {
    width: 100%;
    font-size: 0.85rem;
    text-align: end;
    font-family: "Montserrat alternates", sans-serif;
  }
}

@media screen and (450px < width <= 660px) {
  body {
    overflow: hidden;
  }

  .alert {
    display: none;
    z-index: -999;
  }

  #close-game-pong,
  #close-game-jump {
    font-size: 1rem;
  }

  .game-over {
    font-size: 150%;
  }

  .gameplay-jump {
    font-size: 100%;
  }

  .gameplay-pong {
    font-size: 100%;
  }

  .window-notice .content {
    background-size: 70%;
    width: 100%;
    max-width: 100%;
  }

  .window-notice .content-text {
    width: 60%;
    font-size: 60%;
  }

  .window-notice button {
    font-size: 170%;
  }
}

@media screen and (660px < width <= 1000px) {
  .window-notice .content {
    background-size: 60%;
    width: 100%;
    max-width: 100%;
  }

  #close-game-pong,
  #close-game-jump {
    font-size: 1rem;
  }

  .game-over {
    font-size: 150%;
  }

  .gameplay-jump {
    font-size: 100%;
  }

  .gameplay-pong {
    font-size: 100%;
  }

  .window-notice .content-text {
    width: 50%;
    font-size: 70%;
  }

  .window-notice button {
    font-size: 160%;
  }
}

@media screen and (1000px < width <= 1500px) {
  .window-notice .content {
    background-size: 45vw;
    width: 100%;
  }

  #close-game-pong,
  #close-game-jump {
    font-size: 1.5rem;
  }

  .game-over {
    font-size: 200%;
  }

  .gameplay-pong {
    font-size: 200%;
  }

  .gameplay-jump {
    font-size: 210%;
  }

  .window-notice .content-text {
    width: 40vw;
    font-size: 1.2vw;
  }

  .window-notice button {
    font-size: 2.5vw;
  }
}

@media screen and (1500px < width <= 1900px) {
  .window-notice .content {
    background-size: 40rem;
    width: 100%;
  }

  .window-notice .content-text {
    width: 35rem;
    font-size: 1rem;
  }

  .game-over {
    font-size: 200%;
  }

  .gameplay-jump {
    font-size: 210%;
  }

  .window-notice button {
    font-size: 2rem;
  }
}

@media screen and (1900px < width <= 2500px) {
  .window-notice .content {
    background-size: 60rem;
    width: 100%;
  }

  .window-notice .content-text {
    width: 50rem;
    font-size: 1.5rem;
  }

  .game-over {
    font-size: 400%;
  }

  .gameplay-jump {
    font-size: 250%;
  }

  .window-notice button {
    font-size: 2rem;
  }
}

@media screen and (width > 2500px) {
  .window-notice .content {
    background-size: 60rem;
    width: 100%;
  }

  .window-notice .content-text {
    width: 50rem;
    font-size: 1.5rem;
  }

  .game-over {
    font-size: 400%;
  }

  .gameplay-jump {
    font-size: 300%;
  }

  .window-notice button {
    font-size: 2rem;
  }
}

@media only screen and (orientation: portrait) {
  .container {
    transform: rotate(90deg);
  }
}

@media only screen and (orientation: landscape) {
  .container {
    transform: rotate(0deg);
  }
}
